.task-page{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 6% 94%;
    position: relative;
    align-items: center;
    background-color: white;
}

.user-info{
    grid-area: 1/1/2/2;
    background-color: white;
    color: #2F1D1A;
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
    font-size: 1.1em;
}

.welcome-section{
    width: 100%;
    height: 100%;
    text-align: center;
    grid-area: 1/1/2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wallet{
    width: 100%;
    height: 100%;
    text-align: center;
    grid-area: 1/2/2/3;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 10%;
}

.content-wrapper{
    grid-area: 2/1/3/2;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}


.store-inventory-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 45.5%;
    justify-content: space-evenly;
}

#alert-message{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5vh;
    width: auto;
    border-radius: 1vh 1vh 0 0;
    border-style: dashed dashed none dashed;
    display: none;
    padding: 0 3%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.good{
    background-color: palegreen;
    color: green;
    border: 2px green;
}

.bad{
    background-color: pink;
    color: red;
    border: 2px red;
}

.neutral{
    background-color: lightgray;
    color: darkgray;
    border: 2px darkgray;
}

.top-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    box-sizing: border-box;
    padding-top: 1%;
}

.tabs{
    width: 100%;
    display: flex;
    align-items: center;
    height: 15%;
    padding: 0 2%;
    box-sizing: border-box;
}

.tab{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1%;
    border: #EAE7E2 solid 3px;
    color: #EAE7E2;
    border-radius: .8vw;
    box-sizing: border-box;
    background-color: #2F1D1A;
    padding: 1% 3%;
}
